<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h4 class="display-5">Proventos</h4>
  <hr>
  <div class="container">
    <div class="row card-group">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Ativo</th>
            <th scope="col">Data</th>
            <th scope="col">Valor</th>
            <th scope="col">Tipo</th>
            <th scope="col"><i class="fas fa-edit"></i></th>
            <th scope="col"><i class="fas fa-trash"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of proventos; let i=index">
            <td>{{ item.ativo }}</td>
            <td>{{ item.data | date : "dd/MM/yyyy" : shortDate}}</td>
            <td>R$ {{ item.valor }}</td>
            <td>{{ item.tipo }}</td>
            <td><span (click)="update(item, i)"><i class="far fa-edit"></i></span></td>
            <td><span (click)="delete(item.id, i)"><i class="fas fa-trash-alt"></i></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-deck mb-3 text-center">
      <button type="button" (click)="open()" class="btn btn-lg btn-block btn-outline-primary">Registrar
        Provento</button>
    </div>
  </div>
</div>