<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h4 class="display-5">Minha carteira</h4>
  <hr>
  <div class="container">
    <div class="row card-group">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">EMPRESA</th>
            <th scope="col">CODIGO</th>
            <th scope="col">SETOR</th>
            <th scope="col">PM (IR)</th>
            <th scope="col">PM (valor real)</th>
            <th scope="col">QUANTIDADE</th>
            <th scope="col">CAPITAL INVESTIDO(R$)</th>
            <th scope="col">ÚLTIMO FECHAMENTO(R$)</th>
            <th scope="col">CAPITAL ATUAL(R$)</th>
            <th scope="col">VARIAÇÃO</th>
            <th scope="col">VARIAÇÃO FINANCEIRA</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ativos">
                <td>{{ item.empresa }}</td>
                <td>{{ item.codigo }}</td>
                <td>{{ item.setor }}</td>
                <td>{{ item.precoMedioIR  | number }}</td>
                <td>{{ item.precoMedioReal  | number }}</td>
                <td>{{ item.quantidade }}</td>
                <td>R$ {{ item.capitalInvestido  | number }}</td>
                <td>R$ {{ item.ultimoFechamento  | number }}</td>
                <td>R$ {{ item.quantidade * item.ultimoFechamento  | number}}</td>
                <td>{{ (((item.quantidade * item.ultimoFechamento) - item.capitalInvestido) / (item.quantidade * item.ultimoFechamento ) * 100) | number }} %</td>
                <td>R$ {{ (item.quantidade * item.ultimoFechamento) - item.capitalInvestido  | number}}</td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>